<div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg">
  <div class="mt-6 flex gap-4">
    <a
      (click)="openExternalLink(job.url)"
      class="text-blue-600 hover:underline"
    >
      View Job Posting
    </a>
    <a routerLink="/job-list" class="text-gray-500 hover:underline"
      >← Back to list</a
    >
  </div>
  <h1 class="text-2xl font-bold mb-2 text-gray-800">{{ job.title }}</h1>
  <p class="text-gray-600 mb-1"><strong>Company:</strong> {{ job.company }}</p>
  <p class="text-gray-600 mb-1">
    <strong>Location:</strong> {{ job.location }}
  </p>
  <p class="text-gray-600 mb-1">
    <strong>Posted:</strong> {{ job.postedDate }}
  </p>
  <p class="text-gray-600 mb-1"><strong>Site:</strong> {{ job.site }}</p>
  <p class="text-gray-600 mb-1">
    <strong>Score:</strong> {{ job.score | number : "1.0-2" }}
  </p>

  <div class="mt-4">
    <p class="text-gray-700 whitespace-pre-line">{{ job.description }}</p>
  </div>

  <div class="mt-6 flex gap-4">
    <a
      (click)="openExternalLink(job.url)"
      class="text-blue-600 hover:underline"
    >
      View Job Posting
    </a>
    <a routerLink="/job-list" class="text-gray-500 hover:underline"
      >← Back to list</a
    >
  </div>
</div>
