<div class="p-6 bg-gray-50 min-h-screen">
  <div class="text-2xl font-semibold text-gray-800 mb-4">Keyword Management</div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white rounded-xl shadow p-4">
      <h2 class="text-xl font-bold mb-2 border-b pb-2">Keyword List</h2>
      <app-keyword-list />
    </div>

    <div class="bg-white rounded-xl shadow p-4">
      <h2 class="text-xl font-bold mb-2 border-b pb-2">Category List</h2>
      <app-keyword-category-list />
    </div>
  </div>
</div>
